.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  background-image: url('/Seaside.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  margin: 2rem 0;
}

.profilePic {
  border-radius: 50%;
  overflow: hidden; /* Ensures the rounded shape is applied */
}

.main {
  max-width: 800px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a white background with some transparency for readability */
  padding: 2rem; /* Optional: Adds some padding inside the main section */
  border-radius: 10px; /* Optional: Adds rounded corners to the main section */
}

.post {
  margin: 2rem 0;
}

.footer {
  text-align: center;
  margin: 2rem 0;
  color: #666;
}
